In [6]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData

In [1]:
from pathlib import Path
Path('my_data.sqlite').touch()

In [2]:
import sqlite3
conn = sqlite3.connect('my_data.sqlite')
c = conn.cursor()

In [3]:
# new cell block
# different from one below because i adds a id_card col as primary key
# this allows the db file to work with sqlalchemy 
c.execute('''CREATE TABLE data_science (
    work_year INTEGER
    experience_level TEXT,
    employment_type TEXT,
    job_title TEXT,
    salary INTEGER,
    salary_currency TEXT,
    salary_in_usd INTEGER,
    employee_residence TEXT,
    remote_ratio INTEGER,
    company_location TEXT,
    company_size TEXT,
    id_card Serial,
    CONSTRAINT data_science_pkey PRIMARY KEY (id_card)
);
''')

In [4]:
# c.execute('''CREATE TABLE data_science (
#     work_year INTEGER
#     experience_level TEXT,
#     employment_type TEXT,
#     job_title TEXT,
#     salary INTEGER,
#     salary_currency TEXT,
#     salary_in_usd INTEGER,
#     employee_residence TEXT,
#     remote_ratio INTEGER,
#     company_location TEXT,
#     company_size TEXT
# );
# ''')

In [4]:
import pandas as pd
# load the data into a Pandas DataFrame
data = pd.read_csv(r"Data\ds_salaries.csv")
# write the data to a sqlite table
data.to_sql('data_salaries', conn, if_exists='append', index = False)

3755

In [21]:
data = c.execute('''SELECT work_year, salary FROM data_salaries WHERE work_year=2022''').fetchall()
data

ProgrammingError: Cannot operate on a closed database.

In [ ]:
# add new table to db
yearly_data.to_sql('yearly_avg', conn, if_exists='append', index = False)

In [20]:
conn.close()