In [103]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData
import pandas as pd
import requests
import json
from pathlib import Path
import sqlite3

In [138]:
Path('my_data.db').touch()

In [147]:
conn = sqlite3.connect('my_data.db')
c = conn.cursor()

In [148]:
# grab country_data from our api to merge with coordinate df
url = "http://127.0.0.1:5000/country_data"
r = requests.get(url).json()

In [149]:
df = pd.DataFrame(r).drop(columns = ['remote_ratio','salary_in_usd'])
df

   company_location
0                AE
1                AL
2                AM
3                AR
4                AS
..              ...
67               TH
68               TR
69               UA
70               US
71               VN

[72 rows x 1 columns]

In [120]:
#read in csv from https://gist.github.com/tadast/8827699
coord_df = pd.read_csv(r"C:\Users\Stan\Downloads\countries_codes_and_coordinates.csv")
coord_df.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

In [121]:
coord_df = coord_df[['Country','Alpha-2 code','Latitude (average)', 'Longitude (average)']]

In [122]:
coord_df["Alpha-2 code"] = coord_df["Alpha-2 code"].str.replace('"', '')
coord_df["Latitude (average)"] = coord_df["Latitude (average)"].str.replace('"', '')
coord_df["Longitude (average)"] = coord_df["Longitude (average)"].str.replace('"', '')
coord_df["Alpha-2 code"] = coord_df["Alpha-2 code"].str.replace(' ', '')
coord_df["Latitude (average)"] = coord_df["Latitude (average)"].str.replace(' ', '')
coord_df["Longitude (average)"] = coord_df["Longitude (average)"].str.replace(' ', '')

In [123]:
coord_df = coord_df.rename(columns = {"Alpha-2 code":"company_location"})
coord_df

               Country company_location Latitude (average) Longitude (average)
0          Afghanistan               AF                 33                  65
1              Albania               AL                 41                  20
2              Algeria               DZ                 28                   3
3       American Samoa               AS           -14.3333                -170
4              Andorra               AD               42.5                 1.6
..                 ...              ...                ...                 ...
251  Wallis and Futuna               WF              -13.3              -176.2
252     Western Sahara               EH               24.5                 -13
253              Yemen               YE                 15                  48
254             Zambia               ZM                -15                  30
255           Zimbabwe               ZW                -20                  30

[256 rows x 4 columns]

In [124]:
merged_df = pd.merge(df, coord_df, on = "company_location", how = 'inner')
merged_df

,company_location,Country,Latitude (average),Longitude (average)
0,AE,United Arab Emirates,24,54
1,AL,Albania,41,20
2,AM,Armenia,40,45
3,AR,Argentina,-34,-64
4,AS,American Samoa,-14.3333,-170
...,...,...,...,...
70,TR,Turkey,39,35
71,UA,Ukraine,49,32
72,US,United States,38,-97
73,VN,Viet Nam,16,106
74,VN,Vietnam,16,106

In [125]:
merged_df[merged_df.duplicated(subset = ['company_location', 'Latitude (average)', 'Longitude (average)'])]

   company_location  Country Latitude (average) Longitude (average)
10               BO  Bolivia                -17                 -65
64               RU   Russia                 60                 100
74               VN  Vietnam                 16                 106

In [126]:
df_cleaned = merged_df.drop([merged_df.index[10], merged_df.index[64], merged_df.index[74]])
df_cleaned

,company_location,Country,Latitude (average),Longitude (average)
0,AE,United Arab Emirates,24,54
1,AL,Albania,41,20
2,AM,Armenia,40,45
3,AR,Argentina,-34,-64
4,AS,American Samoa,-14.3333,-170
...,...,...,...,...
69,TH,Thailand,15,100
70,TR,Turkey,39,35
71,UA,Ukraine,49,32
72,US,United States,38,-97
73,VN,Viet Nam,16,106

In [127]:
df_cleaned = df_cleaned.astype({'Latitude (average)':'float64','Longitude (average)':'float64'})

In [128]:
df_cleaned = df_cleaned.rename(columns = {'company_location':'Country_Code','Latitude (average)':'Latitude','Longitude (average)':'Longitude'})
df_cleaned = df_cleaned[['Country', 'Country_Code','Latitude', 'Longitude']]
df_cleaned.head()

                Country Country_Code  Latitude  Longitude
0  United Arab Emirates           AE   24.0000       54.0
1               Albania           AL   41.0000       20.0
2               Armenia           AM   40.0000       45.0
3             Argentina           AR  -34.0000      -64.0
4        American Samoa           AS  -14.3333     -170.0

In [129]:
df_cleaned.to_csv("Data/country_locations.csv")

### Load csv into database

In [140]:
c.execute('''CREATE TABLE country_locations (
    Country TEXT,
    Country_Code TEXT PRIMARY KEY,
    Latitude DECIMAL,
    Longitude DECIMAL
    );
''')

In [141]:
# load the data into a Pandas DataFrame
data = pd.read_csv(r"Data\country_locations.csv").drop(columns = "Unnamed: 0")
# write the data to a sqlite table
data.to_sql('country_locations', conn, if_exists='append', index = False)

72

In [142]:
data = c.execute('''SELECT * FROM country_locations''').fetchall()
data

[('United Arab Emirates', 'AE', 24, 54),
 ('Albania', 'AL', 41, 20),
 ('Armenia', 'AM', 40, 45),
 ('Argentina', 'AR', -34, -64),
 ('American Samoa', 'AS', -14.3333, -170),
 ('Austria', 'AT', 47.3333, 13.3333),
 ('Australia', 'AU', -27, 133),
 ('Bosnia and Herzegovina', 'BA', 44, 18),
 ('Belgium', 'BE', 50.8333, 4),
 ('Bolivia, Plurinational State of', 'BO', -17, -65),
 ('Brazil', 'BR', -10, -55),
 ('Bahamas', 'BS', 24.25, -76),
 ('Canada', 'CA', 60, -95),
 ('Central African Republic', 'CF', 7, 21),
 ('Switzerland', 'CH', 47, 8),
 ('Chile', 'CL', -30, -71),
 ('China', 'CN', 35, 105),
 ('Colombia', 'CO', 4, -72),
 ('Costa Rica', 'CR', 10, -84),
 ('Czech Republic', 'CZ', 49.75, 15.5),
 ('Germany', 'DE', 51, 9),
 ('Denmark', 'DK', 56, 10),
 ('Algeria', 'DZ', 28, 3),
 ('Estonia', 'EE', 59, 26),
 ('Egypt', 'EG', 27, 30),
 ('Spain', 'ES', 40, -4),
 ('Finland', 'FI', 64, 26),
 ('France', 'FR', 46, 2),
 ('United Kingdom', 'GB', 54, -2),
 ('Ghana', 'GH', 8, -2),
 ('Greece', 'GR', 39, 22),
 ('Hong Kong', 'HK', 22.25, 114.1667),
 ('Honduras', 'HN', 15, -86.5),
 ('Croatia', 'HR', 45.1667, 15.5),
 ('Hungary', 'HU', 47, 20),
 ('Indonesia', 'ID', -5, 120),
 ('Ireland', 'IE', 53, -8),
 ('Israel', 'IL', 31.5, 34.75),
 ('India', 'IN', 20, 77),
 ('Iraq', 'IQ', 33, 44),
 ('Iran, Islamic Republic of', 'IR', 32, 53),
 ('Italy', 'IT', 42.8333, 12.8333),
 ('Japan', 'JP', 36, 138),
 ('Kenya', 'KE', 1, 38),
 ('Lithuania', 'LT', 56, 24),
 ('Luxembourg', 'LU', 49.75, 6.1667),
 ('Latvia', 'LV', 57, 25),
 ('Morocco', 'MA', 32, -5),
 ('Moldova, Republic of', 'MD', 47, 29),
 ('Macedonia, the former Yugoslav Republic of', 'MK', 41.8333, 22),
 ('Malta', 'MT', 35.8333, 14.5833),
 ('Mexico', 'MX', 23, -102),
 ('Malaysia', 'MY', 2.5, 112.5),
 ('Nigeria', 'NG', 10, 8),
 ('Netherlands', 'NL', 52.5, 5.75),
 ('New Zealand', 'NZ', -41, 174),
 ('Philippines', 'PH', 13, 122),
 ('Pakistan', 'PK', 30, 70),
 ('Poland', 'PL', 52, 20),
 ('Puerto Rico', 'PR', 18.25, -66.5),
 ('Portugal', 'PT', 39.5, -8),
 ('Romania', 'RO', 46, 25),
 ('Russian Federation', 'RU', 60, 100),
 ('Sweden', 'SE', 62, 15),
 ('Singapore', 'SG', 1.3667, 103.8),
 ('Slovenia', 'SI', 46, 15),
 ('Slovakia', 'SK', 48.6667, 19.5),
 ('Thailand', 'TH', 15, 100),
 ('Turkey', 'TR', 39, 35),
 ('Ukraine', 'UA', 49, 32),
 ('United States', 'US', 38, -97),
 ('Viet Nam', 'VN', 16, 106)]

### create main table in database and load csv

In [143]:
# new cell block
# different from one below because i adds a id_card col as primary key
# this allows the db file to work with sqlalchemy 
c.execute('''CREATE TABLE data_science (
    work_year INTEGER
    experience_level TEXT,
    employment_type TEXT,
    job_title TEXT,
    salary INTEGER,
    salary_currency TEXT,
    salary_in_usd INTEGER,
    employee_residence TEXT,
    remote_ratio INTEGER,
    company_location TEXT,
    company_size TEXT,
    id_card Serial PRIMARY KEY,
    FOREIGN KEY (company_location) REFERENCES country_locations(Country_Code)
);
''')

In [144]:
# load the data into a Pandas DataFrame
data = pd.read_csv(r"Data\ds_salaries.csv")
# write the data to a sqlite table
data.to_sql('data_salaries', conn, if_exists='append', index = False)

3755

In [145]:
data = c.execute('''SELECT * FROM data_salaries''').fetchall()
data

[(2023,
  'SE',
  'FT',
  'Principal Data Scientist',
  80000,
  'EUR',
  85847,
  'ES',
  100,
  'ES',
  'L'),
 (2023, 'MI', 'CT', 'ML Engineer', 30000, 'USD', 30000, 'US', 100, 'US', 'S'),
 (2023, 'MI', 'CT', 'ML Engineer', 25500, 'USD', 25500, 'US', 100, 'US', 'S'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  175000,
  'USD',
  175000,
  'CA',
  100,
  'CA',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  120000,
  'USD',
  120000,
  'CA',
  100,
  'CA',
  'M'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  222200,
  'USD',
  222200,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  136000,
  'USD',
  136000,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  219000,
  'USD',
  219000,
  'CA',
  0,
  'CA',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  141000,
  'USD',
  141000,
  'CA',
  0,
  'CA',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  147100,
  'USD',
  147100,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Scientist', 90700, 'USD', 90700, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Analyst',
  130000,
  'USD',
  130000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Analyst',
  100000,
  'USD',
  100000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'EN',
  'FT',
  'Applied Scientist',
  213660,
  'USD',
  213660,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'EN',
  'FT',
  'Applied Scientist',
  130760,
  'USD',
  130760,
  'US',
  0,
  'US',
  'L'),
 (2023, 'SE', 'FT', 'Data Modeler', 147100, 'USD', 147100, 'US', 0, 'US', 'M'),
 (2023, 'SE', 'FT', 'Data Modeler', 90700, 'USD', 90700, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  170000,
  'USD',
  170000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  150000,
  'USD',
  150000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Analyst',
  150000,
  'USD',
  150000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Analyst',
  110000,
  'USD',
  110000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Research Engineer',
  275000,
  'USD',
  275000,
  'DE',
  0,
  'DE',
  'M'),
 (2023,
  'SE',
  'FT',
  'Research Engineer',
  174000,
  'USD',
  174000,
  'DE',
  0,
  'DE',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  230000,
  'USD',
  230000,
  'GB',
  100,
  'GB',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  143200,
  'USD',
  143200,
  'GB',
  100,
  'GB',
  'M'),
 (2023,
  'SE',
  'FT',
  'Business Intelligence Engineer',
  225000,
  'USD',
  225000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Business Intelligence Engineer',
  156400,
  'USD',
  156400,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  200000,
  'USD',
  200000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  130000,
  'USD',
  130000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Strategist',
  90000,
  'USD',
  90000,
  'CA',
  0,
  'CA',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Strategist',
  72000,
  'USD',
  72000,
  'CA',
  0,
  'CA',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  253200,
  'USD',
  253200,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Engineer', 90700, 'USD', 90700, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Computer Vision Engineer',
  342810,
  'USD',
  342810,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Computer Vision Engineer',
  184590,
  'USD',
  184590,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  162500,
  'USD',
  162500,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  130000,
  'USD',
  130000,
  'US',
  0,
  'US',
  'M'),
 (2023, 'MI', 'FT', 'Data Analyst', 105380, 'USD', 105380, 'US', 0, 'US', 'M'),
 (2023, 'MI', 'FT', 'Data Analyst', 64500, 'USD', 64500, 'US', 0, 'US', 'M'),
 (2023,
  'EN',
  'FT',
  'Data Quality Analyst',
  100000,
  'USD',
  100000,
  'NG',
  100,
  'NG',
  'L'),
 (2023,
  'EN',
  'FT',
  'Compliance Data Analyst',
  30000,
  'USD',
  30000,
  'NG',
  100,
  'NG',
  'L'),
 (2022,
  'MI',
  'FT',
  'Machine Learning Engineer',
  1650000,
  'INR',
  20984,
  'IN',
  50,
  'IN',
  'L'),
 (2023,
  'EN',
  'FT',
  'Applied Scientist',
  204620,
  'USD',
  204620,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'EN',
  'FT',
  'Applied Scientist',
  110680,
  'USD',
  110680,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  270703,
  'USD',
  270703,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  221484,
  'USD',
  221484,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  212750,
  'USD',
  212750,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  185000,
  'USD',
  185000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  262000,
  'USD',
  262000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  245000,
  'USD',
  245000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  275300,
  'USD',
  275300,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  183500,
  'USD',
  183500,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  218500,
  'USD',
  218500,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  199098,
  'USD',
  199098,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  203300,
  'USD',
  203300,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  123600,
  'USD',
  123600,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Research Engineer',
  189110,
  'USD',
  189110,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Research Engineer',
  139000,
  'USD',
  139000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'EX',
  'FT',
  'Data Scientist',
  258750,
  'USD',
  258750,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'EX',
  'FT',
  'Data Scientist',
  185000,
  'USD',
  185000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  231500,
  'USD',
  231500,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  166000,
  'USD',
  166000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  172500,
  'USD',
  172500,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  110500,
  'USD',
  110500,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  238000,
  'USD',
  238000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  176000,
  'USD',
  176000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  237000,
  'USD',
  237000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  201450,
  'USD',
  201450,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  309400,
  'USD',
  309400,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  159100,
  'USD',
  159100,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  115000,
  'USD',
  115000,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Engineer', 81500, 'USD', 81500, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  237000,
  'USD',
  237000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  201450,
  'USD',
  201450,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Computer Vision Engineer',
  280000,
  'USD',
  280000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Computer Vision Engineer',
  210000,
  'USD',
  210000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Architect',
  280100,
  'USD',
  280100,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Architect',
  168100,
  'USD',
  168100,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  193500,
  'USD',
  193500,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  139000,
  'USD',
  139000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Scientist',
  510000,
  'HKD',
  65062,
  'HK',
  0,
  'HK',
  'L'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  150000,
  'USD',
  150000,
  'PT',
  100,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Applied Machine Learning Engineer',
  65000,
  'EUR',
  69751,
  'IN',
  100,
  'DE',
  'S'),
 (2022,
  'EN',
  'FT',
  'AI Developer',
  300000,
  'USD',
  300000,
  'IN',
  50,
  'IN',
  'L'),
 (2023,
  'MI',
  'FT',
  'Machine Learning Engineer',
  90000,
  'EUR',
  96578,
  'NL',
  100,
  'NL',
  'L'),
 (2023,
  'SE',
  'FT',
  'Business Intelligence Engineer',
  185900,
  'USD',
  185900,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Business Intelligence Engineer',
  129300,
  'USD',
  129300,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  225000,
  'USD',
  225000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  175000,
  'USD',
  175000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  185000,
  'USD',
  185000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  140000,
  'USD',
  140000,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Scientist', 45000, 'EUR', 48289, 'ES', 0, 'ES', 'M'),
 (2023, 'SE', 'FT', 'Data Scientist', 36000, 'EUR', 38631, 'ES', 0, 'ES', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  105000,
  'USD',
  105000,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Scientist', 70000, 'USD', 70000, 'US', 0, 'US', 'M'),
 (2023,
  'EN',
  'FT',
  'Machine Learning Engineer',
  163196,
  'USD',
  163196,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'EN',
  'FT',
  'Machine Learning Engineer',
  145885,
  'USD',
  145885,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  217000,
  'USD',
  217000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  185000,
  'USD',
  185000,
  'US',
  100,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 202800, 'USD', 202800, 'US', 0, 'US', 'L'),
 (2023, 'SE', 'FT', 'Data Analyst', 104300, 'USD', 104300, 'US', 0, 'US', 'L'),
 (2023, 'SE', 'FT', 'Data Analyst', 145000, 'USD', 145000, 'US', 0, 'US', 'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 65000, 'USD', 65000, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  165000,
  'USD',
  165000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  132300,
  'USD',
  132300,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  179170,
  'USD',
  179170,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Engineer', 94300, 'USD', 94300, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  152500,
  'USD',
  152500,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  116450,
  'USD',
  116450,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  247300,
  'USD',
  247300,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  133800,
  'USD',
  133800,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Research Engineer',
  203000,
  'USD',
  203000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Research Engineer',
  133000,
  'USD',
  133000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'EN',
  'FT',
  'Research Scientist',
  220000,
  'USD',
  220000,
  'US',
  50,
  'US',
  'L'),
 (2022,
  'EN',
  'FT',
  'Machine Learning Engineer',
  54000,
  'CHF',
  56536,
  'CH',
  100,
  'CH',
  'S'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  150000,
  'USD',
  150000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  120000,
  'USD',
  120000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  289800,
  'USD',
  289800,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  214000,
  'USD',
  214000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  179820,
  'USD',
  179820,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  143860,
  'USD',
  143860,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  283200,
  'USD',
  283200,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  188800,
  'USD',
  188800,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  289800,
  'USD',
  289800,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  214200,
  'USD',
  214200,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  185900,
  'USD',
  185900,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  129300,
  'USD',
  129300,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  252000,
  'USD',
  252000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  129000,
  'USD',
  129000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Analytics Manager',
  155000,
  'USD',
  155000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Analytics Manager',
  140000,
  'USD',
  140000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  161800,
  'USD',
  161800,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  141600,
  'USD',
  141600,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  342300,
  'USD',
  342300,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  176100,
  'USD',
  176100,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  100000,
  'USD',
  100000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  70000,
  'USD',
  70000,
  'US',
  100,
  'US',
  'M'),
 (2023, 'EN', 'FT', 'Data Engineer', 85000, 'USD', 85000, 'US', 0, 'US', 'M'),
 (2023, 'EN', 'FT', 'Data Engineer', 65000, 'USD', 65000, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  138784,
  'USD',
  138784,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  83270,
  'USD',
  83270,
  'US',
  100,
  'US',
  'M'),
 (2023, 'EN', 'FT', 'Data Analyst', 75000, 'USD', 75000, 'US', 0, 'US', 'M'),
 (2023, 'EN', 'FT', 'Data Analyst', 70000, 'USD', 70000, 'US', 0, 'US', 'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 204500, 'USD', 204500, 'US', 0, 'US', 'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 138900, 'USD', 138900, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  318300,
  'USD',
  318300,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  212200,
  'USD',
  212200,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  95000,
  'USD',
  95000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  75000,
  'USD',
  75000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  195000,
  'USD',
  195000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  160000,
  'USD',
  160000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  230000,
  'USD',
  230000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  143200,
  'USD',
  143200,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  100000,
  'USD',
  100000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  70000,
  'USD',
  70000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Business Data Analyst',
  105000,
  'USD',
  105000,
  'US',
  50,
  'US',
  'L'),
 (2023,
  'MI',
  'FT',
  'Applied Data Scientist',
  1700000,
  'INR',
  20670,
  'IN',
  100,
  'IN',
  'L'),
 (2023, 'MI', 'FT', 'Data Analyst', 38000, 'GBP', 46178, 'GB', 0, 'GB', 'M'),
 (2023, 'MI', 'FT', 'Data Analyst', 35000, 'GBP', 42533, 'GB', 0, 'GB', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  145000,
  'USD',
  145000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  115000,
  'USD',
  115000,
  'US',
  0,
  'US',
  'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 168400, 'USD', 168400, 'US', 0, 'US', 'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 105200, 'USD', 105200, 'US', 0, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  309400,
  'USD',
  309400,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  159100,
  'USD',
  159100,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  190000,
  'USD',
  190000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Machine Learning Engineer',
  150000,
  'USD',
  150000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  162500,
  'USD',
  162500,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Data Engineer',
  130000,
  'USD',
  130000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  150000,
  'USD',
  150000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Analytics Engineer',
  120000,
  'USD',
  120000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  145000,
  'USD',
  145000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  120000,
  'USD',
  120000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  222200,
  'USD',
  222200,
  'US',
  0,
  'US',
  'L'),
 (2023,
  'SE',
  'FT',
  'Applied Scientist',
  136000,
  'USD',
  136000,
  'US',
  0,
  'US',
  'L'),
 (2023, 'SE', 'FT', 'Data Analyst', 45000, 'GBP', 54685, 'CF', 100, 'CF', 'M'),
 (2023, 'SE', 'FT', 'Data Analyst', 35000, 'GBP', 42533, 'CF', 100, 'CF', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  241000,
  'USD',
  241000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  155000,
  'USD',
  155000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  220000,
  'USD',
  220000,
  'US',
  100,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  190000,
  'USD',
  190000,
  'US',
  100,
  'US',
  'M'),
 (2023, 'MI', 'FT', 'Data Scientist', 55000, 'GBP', 66837, 'GB', 0, 'GB', 'M'),
 (2023, 'MI', 'FT', 'Data Scientist', 45000, 'GBP', 54685, 'GB', 0, 'GB', 'M'),
 (2020,
  'EX',
  'FT',
  'Staff Data Analyst',
  15000,
  'USD',
  15000,
  'NG',
  0,
  'CA',
  'M'),
 (2023, 'MI', 'FT', 'ETL Engineer', 70000, 'GBP', 85066, 'GB', 100, 'GB', 'M'),
 (2023, 'MI', 'FT', 'ETL Engineer', 47500, 'GBP', 57723, 'GB', 100, 'GB', 'M'),
 (2023, 'EN', 'FT', 'Data Analyst', 85000, 'USD', 85000, 'US', 100, 'US', 'M'),
 (2023, 'EN', 'FT', 'Data Analyst', 75000, 'USD', 75000, 'US', 100, 'US', 'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  160000,
  'USD',
  160000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Engineer',
  140000,
  'USD',
  140000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Machine Learning Engineer',
  300000,
  'USD',
  300000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Machine Learning Engineer',
  250000,
  'USD',
  250000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  228000,
  'USD',
  228000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  186000,
  'USD',
  186000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  190000,
  'USD',
  190000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Scientist',
  170000,
  'USD',
  170000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Research Engineer',
  230000,
  'USD',
  230000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'MI',
  'FT',
  'Research Engineer',
  200000,
  'USD',
  200000,
  'US',
  0,
  'US',
  'M'),
 (2023,
  'SE',
  'FT',
  'Data Architect',
  180000,

In [146]:
conn.close()