In [18]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData

In [1]:
from pathlib import Path
Path('my_data.sqlite').touch()

In [43]:
import sqlite3
conn = sqlite3.connect('my_data.sqlite')
c = conn.cursor()

In [3]:
# new cell block
# different from one below because i adds a id_card col as primary key
# this allows the db file to work with sqlalchemy 
c.execute('''CREATE TABLE data_science (
    work_year INTEGER
    experience_level TEXT,
    employment_type TEXT,
    job_title TEXT,
    salary INTEGER,
    salary_currency TEXT,
    salary_in_usd INTEGER,
    employee_residence TEXT,
    remote_ratio INTEGER,
    company_location TEXT,
    company_size TEXT,
    id_card Serial,
    CONSTRAINT data_science_pkey PRIMARY KEY (id_card)
);
''')

In [4]:
# c.execute('''CREATE TABLE data_science (
#     work_year INTEGER
#     experience_level TEXT,
#     employment_type TEXT,
#     job_title TEXT,
#     salary INTEGER,
#     salary_currency TEXT,
#     salary_in_usd INTEGER,
#     employee_residence TEXT,
#     remote_ratio INTEGER,
#     company_location TEXT,
#     company_size TEXT
# );
# ''')

In [4]:
import pandas as pd
# load the data into a Pandas DataFrame
data = pd.read_csv(r"Data\ds_salaries.csv")
# write the data to a sqlite table
data.to_sql('data_salaries', conn, if_exists='append', index = False)

3755

In [44]:
data = c.execute('''SELECT work_year, salary FROM data_salaries WHERE work_year=2022''').fetchall()
data

[(2022, 1650000),
 (2022, 300000),
 (2022, 54000),
 (2022, 84000),
 (2022, 275000),
 (2022, 57000),
 (2022, 70000),
 (2022, 164000),
 (2022, 130000),
 (2022, 34320),
 (2022, 48000),
 (2022, 106000),
 (2022, 192000),
 (2022, 168000),
 (2022, 85000),
 (2022, 375000),
 (2022, 180000),
 (2022, 23000),
 (2022, 155000),
 (2022, 80000),
 (2022, 48000),
 (2022, 6000),
 (2022, 1250000),
 (2022, 110000),
 (2022, 24000),
 (2022, 1440000),
 (2022, 100000),
 (2022, 133000),
 (2022, 1125000),
 (2022, 130000),
 (2022, 1100000),
 (2022, 125000),
 (2022, 175000),
 (2022, 155000),
 (2022, 153600),
 (2022, 106800),
 (2022, 150000),
 (2022, 140000),
 (2022, 122000),
 (2022, 94500),
 (2022, 170000),
 (2022, 130000),
 (2022, 145000),
 (2022, 128000),
 (2022, 145000),
 (2022, 100000),
 (2022, 175000),
 (2022, 120000),
 (2022, 145000),
 (2022, 115000),
 (2022, 150000),
 (2022, 150000),
 (2022, 100000),
 (2022, 150000),
 (2022, 127500),
 (2022, 126500),
 (2022, 51000),
 (2022, 260000),
 (2022, 175000),
 (2022, 40000),
 (2022, 40000),
 (2022, 250000),
 (2022, 63000),
 (2022, 210000),
 (2022, 160000),
 (2022, 272550),
 (2022, 198200),
 (2022, 90000),
 (2022, 50000),
 (2022, 220000),
 (2022, 146000),
 (2022, 150000),
 (2022, 100000),
 (2022, 248400),
 (2022, 183600),
 (2022, 150000),
 (2022, 150000),
 (2022, 40000),
 (2022, 4460000),
 (2022, 120000),
 (2022, 95000),
 (2022, 160000),
 (2022, 135000),
 (2022, 23000),
 (2022, 216000),
 (2022, 144000),
 (2022, 85000),
 (2022, 65000),
 (2022, 149000),
 (2022, 119000),
 (2022, 140000),
 (2022, 120000),
 (2022, 150000),
 (2022, 110000),
 (2022, 246000),
 (2022, 201000),
 (2022, 190000),
 (2022, 155000),
 (2022, 235000),
 (2022, 185000),
 (2022, 190000),
 (2022, 160000),
 (2022, 100000),
 (2022, 130000),
 (2022, 115000),
 (2022, 75000),
 (2022, 55000),
 (2022, 105000),
 (2022, 70000),
 (2022, 204500),
 (2022, 142200),
 (2022, 192000),
 (2022, 164000),
 (2022, 185900),
 (2022, 129300),
 (2022, 130000),
 (2022, 75000),
 (2022, 175000),
 (2022, 120000),
 (2022, 167500),
 (2022, 106500),
 (2022, 75000),
 (2022, 60000),
 (2022, 184000),
 (2022, 142000),
 (2022, 145000),
 (2022, 100000),
 (2022, 10000),
 (2022, 2500000),
 (2022, 198000),
 (2022, 175000),
 (2022, 120000),
 (2022, 175000),
 (2022, 120000),
 (2022, 200000),
 (2022, 145000),
 (2022, 75000),
 (2022, 60000),
 (2022, 145000),
 (2022, 100000),
 (2022, 192000),
 (2022, 164000),
 (2022, 310000),
 (2022, 239000),
 (2022, 120000),
 (2022, 95000),
 (2022, 145000),
 (2022, 135000),
 (2022, 100000),
 (2022, 78000),
 (2022, 70000),
 (2022, 35000),
 (2022, 160000),
 (2022, 120000),
 (2022, 190000),
 (2022, 150000),
 (2022, 2800000),
 (2022, 125000),
 (2022, 120000),
 (2022, 95000),
 (2022, 150000),
 (2022, 100000),
 (2022, 45000),
 (2022, 36000),
 (2022, 115934),
 (2022, 81666),
 (2022, 175000),
 (2022, 140000),
 (2022, 120000),
 (2022, 95000),
 (2022, 249500),
 (2022, 149850),
 (2022, 122500),
 (2022, 100000),
 (2022, 249500),
 (2022, 149850),
 (2022, 55000),
 (2022, 48000),
 (2022, 249500),
 (2022, 149850),
 (2022, 56000),
 (2022, 190000),
 (2022, 120000),
 (2022, 127000),
 (2022, 104000),
 (2022, 210000),
 (2022, 150000),
 (2022, 210000),
 (2022, 150000),
 (2022, 210000),
 (2022, 130000),
 (2022, 182750),
 (2022, 161500),
 (2022, 102640),
 (2022, 66100),
 (2022, 210000),
 (2022, 150000),
 (2022, 198800),
 (2022, 122600),
 (2022, 130000),
 (2022, 80000),
 (2022, 136000),
 (2022, 104000),
 (2022, 150000),
 (2022, 100000),
 (2022, 160000),
 (2022, 135000),
 (2022, 216000),
 (2022, 144000),
 (2022, 159000),
 (2022, 130000),
 (2022, 115934),
 (2022, 81666),
 (2022, 215000),
 (2022, 150000),
 (2022, 246000),
 (2022, 201000),
 (2022, 187000),
 (2022, 153000),
 (2022, 255000),
 (2022, 185000),
 (2022, 350000),
 (2022, 45000),
 (2022, 48000),
 (2022, 38000),
 (2022, 169000),
 (2022, 110600),
 (2022, 58000),
 (2022, 140000),
 (2022, 120000),
 (2022, 75000),
 (2022, 60000),
 (2022, 10000),
 (2022, 50000),
 (2022, 134000),
 (2022, 124000),
 (2022, 166700),
 (2022, 119000),
 (2022, 124234),
 (2022, 74540),
 (2022, 100000),
 (2022, 65000),
 (2022, 200000),
 (2022, 12000),
 (2022, 220000),
 (2022, 146000),
 (2022, 65000),
 (2022, 35000),
 (2022, 110000),
 (2022, 70000),
 (2022, 50000),
 (2022, 120000),
 (2022, 95000),
 (2022, 150000),
 (2022, 100000),
 (2022, 45000),
 (2022, 36000),
 (2022, 190000),
 (2022, 135000),
 (2022, 128000),
 (2022, 81500),
 (2022, 173000),
 (2022, 110000),
 (2022, 192000),
 (2022, 120000),
 (2022, 115934),
 (2022, 81666),
 (2022, 120000),
 (2022, 95000),
 (2022, 190000),
 (2022, 194000),
 (2022, 129400),
 (2022, 201000),
 (2022, 89200),
 (2022, 165000),
 (2022, 125000),
 (2022, 230000),
 (2022, 196000),
 (2022, 130000),
 (2022, 90000),
 (2022, 150000),
 (2022, 100000),
 (2022, 230000),
 (2022, 150000),
 (2022, 153600),
 (2022, 106800),
 (2022, 130000),
 (2022, 100000),
 (2022, 216000),
 (2022, 144000),
 (2022, 180000),
 (2022, 120000),
 (2022, 160000),
 (2022, 135000),
 (2022, 192500),
 (2022, 140000),
 (2022, 152500),
 (2022, 130000),
 (2022, 65000),
 (2022, 55000),
 (2022, 178750),
 (2022, 160000),
 (2022, 60000),
 (2022, 50000),
 (2022, 165000),
 (2022, 135000),
 (2022, 170000),
 (2022, 125000),
 (2022, 105000),
 (2022, 70000),
 (2022, 130000),
 (2022, 95000),
 (2022, 203500),
 (2022, 152000),
 (2022, 197430),
 (2022, 134760),
 (2022, 120000),
 (2022, 197000),
 (2022, 99000),
 (2022, 220000),
 (2022, 162000),
 (2022, 105120),
 (2022, 75360),
 (2022, 57000),
 (2022, 42000),
 (2022, 149040),
 (2022, 113900),
 (2022, 171000),
 (2022, 13000),
 (2022, 100000),
 (2022, 78000),
 (2022, 120000),
 (2022, 95000),
 (2022, 110000),
 (2022, 70000),
 (2022, 50000),
 (2022, 185900),
 (2022, 129300),
 (2022, 150000),
 (2022, 100000),
 (2022, 230000),
 (2022, 154600),
 (2022, 204500),
 (2022, 142200),
 (2022, 160000),
 (2022, 75000),
 (2022, 45000),
 (2022, 36000),
 (2022, 213000),
 (2022, 152000),
 (2022, 140000),
 (2022, 120000),
 (2022, 110000),
 (2022, 70000),
 (2022, 227200),
 (2022, 168000),
 (2022, 61000),
 (2022, 58000),
 (2022, 243000),
 (2022, 183000),
 (2022, 175000),
 (2022, 150000),
 (2022, 130000),
 (2022, 90000),
 (2022, 165000),
 (2022, 124000),
 (2022, 178000),
 (2022, 132000),
 (2022, 300000),
 (2022, 130000),
 (2022, 169000),
 (2022, 110600),
 (2022, 116000),
 (2022, 96000),
 (2022, 75000),
 (2022, 57000),
 (2022, 105000),
 (2022, 70000),
 (2022, 137000),
 (2022, 194000),
 (2022, 129400),
 (2022, 190000),
 (2022, 135000),
 (2022, 100000),
 (2022, 70000),
 (2022, 189750),
 (2022, 140250),
 (2022, 130000),
 (2022, 100000),
 (2022, 160000),
 (2022, 109000),
 (2022, 250000),
 (2022, 150000),
 (2022, 206000),
 (2022, 160000),
 (2022, 135000),
 (2022, 120000),
 (2022, 110000),
 (2022, 70000),
 (2022, 160000),
 (2022, 135000),
 (2022, 150000),
 (2022, 100000),
 (2022, 120000),
 (2022, 95000),
 (2022, 65000),
 (2022, 40000),
 (2022, 191200),
 (2022, 130000),
 (2022, 191200),
 (2022, 130000),
 (2022, 63000),
 (2022, 50000),
 (2022, 230000),
 (2022, 154600),
 (2022, 120000),
 (2022, 95000),
 (2022, 140000),
 (2022, 120000),
 (2022, 169000),
 (2022, 110600),
 (2022, 80000),
 (2022, 185900),
 (2022, 129300),
 (2022, 135000),
 (2022, 110000),
 (2022, 155000),
 (2022, 140000),
 (2022, 205000),
 (2022, 150000),
 (2022, 179500),
 (2022, 134000),
 (2022, 180000),
 (2022, 120000),
 (2022, 185900),
 (2022, 129300),
 (2022, 175000),
 (2022, 145000),
 (2022, 235000),
 (2022, 175000),
 (2022, 26000),
 (2022, 160000),
 (2022, 90000),
 (2022, 65000),
 (2022, 35000),
 (2022, 145000),
 (2022, 115000),
 (2022, 165000),
 (2022, 135000),
 (2022, 168400),
 (2022, 105200),
 (2022, 70000),
 (2022, 40000),
 (2022, 200000),
 (2022, 160000),
 (2022, 45000),
 (2022, 36000),
 (2022, 198800),
 (2022, 122600),
 (2022, 100000),
 (2022, 100000),
 (2022, 130000),
 (2022, 100000),
 (2022, 85000),
 (2022, 60000),
 (2022, 125000),
 (2022, 110000),
 (2022, 165000),
 (2022, 124000),
 (2022, 148000),
 (2022, 107000),
 (2022, 150000),
 (2022, 100000),
 (2022, 160000),
 (2022, 135000),
 (2022, 120000),
 (2022, 95000),
 (2022, 153600),
 (2022, 106800),
 (2022, 100000),
 (2022, 65000),
 (2022, 120000),
 (2022, 95000),
 (2022, 60000),
 (2022, 35000),
 (2022, 310000),
 (2022, 239000),
 (2022, 299500),
 (2022, 245100),
 (2022, 168000),
 (2022, 130000),
 (2022, 136000),
 (2022, 104000),
 (2022, 161000),
 (2022, 118000),
 (2022, 205000),
 (2022, 184000),
 (2022, 185900),
 (2022, 129300),
 (2022, 247500),
 (2022, 172200),
 (2022, 65000),
 (2022, 177000),
 (2022, 131000),
 (2022, 205000),
 (2022, 184000),
 (2022, 146000),
 (2022, 102000),
 (2022, 169000),
 (2022, 110600),
 (2022, 230000),
 (2022, 196000),
 (2022, 135000),
 (2022, 100000),
 (2022, 80000),
 (2022, 65000),
 (2022, 135000),
 (2022, 100000),
 (2022, 50000),
 (2022, 35000),
 (2022, 175000),
 (2022, 135000),
 (2022, 80000),
 (2022, 231250),
 (2022, 138750),
 (2022, 193750),
 (2022, 116250),
 (2022, 231250),
 (2022, 138750),
 (2022, 231250),
 (2022, 138750),
 (2022, 231250),
 (2022, 138750),
 (2022, 193750),
 (2022, 116250),
 (2022, 208000),
 (2022, 127000),
 (2022, 300000),
 (2022, 196000),
 (2022, 204500),
 (2022, 142200),
 (2022, 185900),
 (2022, 129300),
 (2022, 45000),
 (2022, 36000),
 (2022, 204500),
 (2022, 142200),
 (2022, 205000),
 (2022, 185000),
 (2022, 185900),
 (2022, 129300),
 (2022, 247500),
 (2022, 172200),
 (2022, 160000),
 (2022, 135000),
 (2022, 150000),
 (2022, 100000),
 (2022, 110000),
 (2022, 95000),
 (2022, 185900),
 (2022, 129300),
 (2022, 205000),
 (2022, 184000),
 (2022, 6600000),
 (2022, 375000),
 (2022, 191200),
 (2022, 130000),
 (2022, 225000),
 (2022, 156400),
 (2022, 169000),
 (2022, 110600),
 (2022, 204500),
 (2022, 142200),
 (2022, 85000),
 (2022, 65000),
 (2022, 185900),
 (2022, 129300),
 (2022, 140700),
 (2022, 93800),
 (2022, 350000),
 (2022, 135000),
 (2022, 115934),
 (2022, 81666),
 (2022, 12000),
 (2022, 100000),
 (2022, 33000),
 (2022, 33000),
 (2022, 201000),
 (2022, 119000),
 (2022, 175000),
 (2022, 150000),
 (2022, 154560),
 (2022, 123648),
 (2022, 130000),
 (2022, 100000),
 (2022, 170000),
 (2022, 145000),
 (2022, 135000),
 (2022, 100000),
 (2022, 247500),
 (2022, 172200),
 (2022, 177500),
 (2022, 134000),
 (2022, 185900),
 (2022, 129300),
 (2022, 192564),
 (2022, 144854),
 (2022, 130000),
 (2022, 105000),
 (2022, 179305),
 (2022, 142127),
 (2022, 315000),
 (2022, 225000),
 (2022, 243900),
 (2022, 156600),
 (2022, 206000),
 (2022, 160000),
 (2022, 109000),
 (2022, 79000),
 (2022, 160000),
 (2022, 109000),
 (2022, 85000),
 (2022, 182500),
 (2022, 128500),
 (2022, 160000),
 (2022, 90000),
 (2022, 77300),
 (2022, 45600),
 (2022, 127000),
 (2022, 110000),
 (2022, 210000),
 (2022, 136000),
 (2022, 12000),
 (2022, 170000),
 (2022, 140000),
 (2022, 247500),
 (2022, 172200),
 (2022, 225000),
 (2022, 184100),
 (2022, 130000),
 (2022, 90000),
 (2022, 120000),
 (2022, 100000),
 (2022, 85000),
 (2022, 78000),
 (2022, 161000),
 (2022, 110000),
 (2022, 136000),
 (2022, 104000),
 (2022, 45000),
 (2022, 36000),
 (2022, 205000),
 (2022, 160000),
 (2022, 169000),
 (2022, 110600),
 (2022, 50000),
 (2022, 40000),
 (2022, 160000),
 (2022, 130000),
 (2022, 245000),
 (2022, 180000),
 (2022, 135000),
 (2022, 100000),
 (2022, 220000),
 (2022, 150000),
 (2022, 198440),
 (2022, 144000),
 (2022, 240000),
 (2022, 170000),
 (2022, 198440),
 (2022, 144000),
 (2022, 150000),
 (2022, 100000),
 (2022, 120000),
 (2022, 95000),
 (2022, 47000),
 (2022, 64000),
 (2022, 38000),
 (2022, 187200),
 (2022, 116100),
 (2022, 150000),
 (2022, 127000),
 (2022, 275000),
 (2022, 166000),
 (2022, 159699),
 (2022, 138938),
 (2022, 76000),
 (2022, 166700),
 (2022, 119000),
 (2022, 130000),
 (2022, 100000),
 (2022, 84000),
 (2022, 75000),
 (2022, 80000),
 (2022, 52500),
 (2022, 236000),
 (2022, 182000),
 (2022, 180000),
 (2022, 140000),
 (2022, 225000),
 (2022, 156400),
 (2022, 135000),
 (2022, 100000),
 (2022, 204500),
 (2022, 142200),
 (2022, 240000),
 (2022, 125404),
 (2022, 300000),
 (2022, 130000),
 (2022, 195000),
 (2022, 175000),
 (2022, 155000),
 (2022, 110000),
 (2022, 123000),
 (2022, 92250),
 (2022, 170000),
 (2022, 150000),
 (2022, 180000),
 (2022, 100000),
 (2022, 97000),
 (2022, 90000),
 (2022, 200000),
 (2022, 160000),
 (2022, 210000),
 (2022, 180000),
 (2022, 260000),
 (2022, 180000),
 (2022, 210000),
 (2022, 157000),
 (2022, 180000),
 (2022, 100000),
 (2022, 80000),
 (2022, 52500),
 (2022, 128000),
 (2022, 81500),
 (2022, 105000),
 (2022, 70000),
 (2022, 175000),
 (2022, 122500),
 (2022, 171000),
 (2022, 117000),
 (2022, 202800),
 (2022, 104300),
 (2022, 48000),
 (2022, 35000),
 (2022, 197000),
 (2022, 99000),
 (2022, 160000),
 (2022, 110000),
 (2022, 185900),
 (2022, 129300),
 (2022, 30000),
 (2022, 78000),
 (2022, 48000),
 (2022, 170000),
 (2022, 130000),
 (2022, 150000),
 (2022, 95000),
 (2022, 78000),
 (2022, 42000),
 (2022, 345600),
 (2022, 230400),
 (2022, 145000),
 (2022, 115000),
 (2022, 78000),
 (2022, 48000),
 (2022, 175950),
 (2022, 130050),
 (2022, 205600),
 (2022, 105700),
 (2022, 236600),
 (2022, 89200),
 (2022, 84000),
 (2022, 54000),
 (2022, 80000),
 (2022, 200000),
 (2022, 96000),
 (2022, 165000),
 (2022, 27000),
 (2022, 185900),
 (2022, 129300),
 (2022, 169000),
 (2022, 110600),
 (2022, 225000),
 (2022, 184100),
 (2022, 185900),
 (2022, 129300),
 (2022, 225000),
 (2022, 156400),
 (2022, 185900),
 (2022, 129300),
 (2022, 108000),
 (2022, 8000),
 (2022, 155000),
 (2022, 38000),
 (2022, 85000),
 (2022, 65000),
 (2022, 155000),
 (2022, 38000),
 (2022, 90000),
 (2022, 75000),
 (2022, 153600),
 (2022, 106800),
 (2022, 185000),
 (2022, 50000),
 (2022, 185900),
 (2022, 129300),
 (2022, 155000),
 (2022, 38000),
 (2022, 168000),
 (2022, 130000),
 (2022, 123400),
 (2022, 88100),
 (2022, 120000),
 (2022, 55000),
 (2022, 185900),
 (2022, 129300),
 (2022, 191200),
 (2022, 130000),
 (2022, 169000),
 (2022, 110600),
 (2022, 150000),
 (2022, 120000),
 (2022, 139000),
 (2022, 122000),
 (2022, 185900),
 (2022, 129300),
 (2022, 139600),
 (2022, 85700),
 (2022, 185000),
 (2022, 50000),
 (2022, 185900),
 (2022, 129300),
 (2022, 225000),
 (2022, 156400),
 (2022, 200000),
 (2022, 175000),
 (2022, 185900),
 (2022, 129300),
 (2022, 148500),
 (2022, 98200),
 (2022, 115000),
 (2022, 95000),
 (2022, 225000),
 (2022, 66000),
 (2022, 185000),
 (2022, 50000),
 (2022, 45000),
 (2022, 36000),
 (2022, 134000),
 (2022, 98000),
 (2022, 105000),
 (2022, 62000),
 (2022, 57000),
 (2022, 210000),
 (2022, 144200),
 (2022, 115360),
 (2022, 120000),
 (2022, 3000000),
 (2022, 70000),
 (2022, 40000),
 (2022, 170000),
 (2022, 150000),
 (2022, 180000),
 (2022, 160000),
 (2022, 108000),
 (2022, 200000),
 (2022, 150000),
 (2022, 164000),
 (2022, 188700),
 (2022, 160395),
 (2022, 115934),
 (2022, 81666),
 (2022, 300000),
 (2022, 225000),
 (2022, 198440),
 (2022, 144000),
 (2022, 191475),
 (2022, 141525),
 (2022, 48000),
 (2022, 35000),
 (2022, 72000),
 (2022, 156868),
 (2022, 200000),
 (2022, 198440),
 (2022, 144000),
 (2022, 66000),
 (2022, 120000),
 (2022, 90000),
 (2022, 120000),
 (2022, 80000),
 (2022, 200000),
 (2022, 180000),
 (2022, 108000),
 (2022, 85000),
 (2022, 210000),
 (2022, 180000),
 (2022, 165000),
 (2022, 132000),
 (2022, 130000),
 (2022, 110000),
 (2022, 65000),
 (2022, 135000),
 (2022, 178800),
 (2022, 132100),
 (2022, 20000),
 (2022, 140000),
 (2022, 110000),
 (2022, 160000),
 (2022, 85000),
 (2022, 250000),
 (2022, 63000),
 (2022, 187200),
 (2022, 116100),
 (2022, 10000),
 (2022, 200000),
 (2022, 145000),
 (2022, 229998),
 (2022, 154545),
 (2022, 215000),
 (2022, 159000),
 (2022, 229998),
 (2022, 154545),
 (2022, 50000),
 (2022, 183000),
 (2022, 99750),
 (2022, 68400),
 (2022, 236900),
 (2022, 159200),
 (2022, 243225),
 (2022, 179775),
 (2022, 175000),
 (2022, 150000),
 (2022, 210000),
 (2022, 180000),
 (2022, 148000),
 (2022, 128000),
 (2022, 190000),
 (2022, 135000),
 (2022, 130000),
 (2022, 110000),
 (2022, 191475),
 (2022, 141525),
 (2022, 160000),
 (2022, 85000),
 (2022, 218000),
 (2022, 145300),
 (2022, 195400),
 (2022, 131300),
 (2022, 105000),
 (2022, 191475),
 (2022, 141525),
 (2022, 207000),
 (2022, 153000),
 (2022, 191475),
 (2022, 141525),
 (2022, 110000),
 (2022, 99000),
 (2022, 191475),
 (2022, 141525),
 (2022, 191475),
 (2022, 141525),
 (2022, 191475),
 (2022, 141525),
 (2022, 200000),
 (2022, 135000),
 (2022, 207000),
 (2022, 153000),
 (2022, 191475),
 (2022, 141525),
 (2022, 191475),
 (2022, 141525),
 (2022, 191475),
 (2022, 141525),
 (2022, 195700),
 (2022, 130500),
 (2022, 130000),
 (2022, 84000),
 (2022, 100000),
 (2022, 60000),
 (2022, 65000),
 (2022, 55000),
 (2022, 141300),
 (2022, 102100),
 (2022, 48000),
 (2022, 35000),
 (2022, 150000),
 (2022, 83000),
 (2022, 1800000),
 (2022, 144000),
 (2022, 113000),
 (2022, 30000),
 (2022, 195400),
 (2022, 131300),
 (2022, 195400),
 (2022, 131300),
 (2022, 195400),
 (2022, 131300),
 (2022, 190000),
 (2022, 135000),
 ...]

### Getting country location data

In [29]:
import requests
import json
import pandas as pd

In [30]:
# grab country_data from our api to merge with coordinate df
url = "http://127.0.0.1:5000/country_data"
r = requests.get(url).json()

In [31]:
df = pd.DataFrame(r).drop(columns = ['remote_ratio','salary_in_usd'])
df

   company_location
0                AE
1                AL
2                AM
3                AR
4                AS
..              ...
67               TH
68               TR
69               UA
70               US
71               VN

[72 rows x 1 columns]

In [32]:
#read in csv from https://gist.github.com/tadast/8827699
coord_df = pd.read_csv(r"C:\Users\Stan\Downloads\countries_codes_and_coordinates.csv")
coord_df.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

In [33]:
coord_df = coord_df[['Alpha-2 code','Latitude (average)', 'Longitude (average)']]

In [34]:
coord_df["Alpha-2 code"] = coord_df["Alpha-2 code"].str.replace('"', '')
coord_df["Latitude (average)"] = coord_df["Latitude (average)"].str.replace('"', '')
coord_df["Longitude (average)"] = coord_df["Longitude (average)"].str.replace('"', '')
coord_df["Alpha-2 code"] = coord_df["Alpha-2 code"].str.replace(' ', '')
coord_df["Latitude (average)"] = coord_df["Latitude (average)"].str.replace(' ', '')
coord_df["Longitude (average)"] = coord_df["Longitude (average)"].str.replace(' ', '')

In [35]:
coord_df = coord_df.rename(columns = {"Alpha-2 code":"company_location"})
coord_df

    company_location Latitude (average) Longitude (average)
0                 AF                 33                  65
1                 AL                 41                  20
2                 DZ                 28                   3
3                 AS           -14.3333                -170
4                 AD               42.5                 1.6
..               ...                ...                 ...
251               WF              -13.3              -176.2
252               EH               24.5                 -13
253               YE                 15                  48
254               ZM                -15                  30
255               ZW                -20                  30

[256 rows x 3 columns]

In [36]:
merged_df = pd.merge(df, coord_df, on = "company_location", how = 'inner')
merged_df

   company_location Latitude (average) Longitude (average)
0                AE                 24                  54
1                AL                 41                  20
2                AM                 40                  45
3                AR                -34                 -64
4                AS           -14.3333                -170
..              ...                ...                 ...
70               TR                 39                  35
71               UA                 49                  32
72               US                 38                 -97
73               VN                 16                 106
74               VN                 16                 106

[75 rows x 3 columns]

In [37]:
merged_df[merged_df.duplicated(subset = ['company_location', 'Latitude (average)', 'Longitude (average)'])]

   company_location Latitude (average) Longitude (average)
10               BO                -17                 -65
64               RU                 60                 100
74               VN                 16                 106

In [38]:
df_cleaned = merged_df.drop([merged_df.index[10], merged_df.index[64], merged_df.index[74]])
df_cleaned

   company_location Latitude (average) Longitude (average)
0                AE                 24                  54
1                AL                 41                  20
2                AM                 40                  45
3                AR                -34                 -64
4                AS           -14.3333                -170
..              ...                ...                 ...
69               TH                 15                 100
70               TR                 39                  35
71               UA                 49                  32
72               US                 38                 -97
73               VN                 16                 106

[72 rows x 3 columns]

In [39]:
df_cleaned = df_cleaned.astype({'Latitude (average)':'float64','Longitude (average)':'float64'})

In [42]:
df_cleaned = df_cleaned.rename(columns = {'company_location':'Country','Latitude (average)':'Latitude','Longitude (average)':'Longitude'})
df_cleaned.head()

  Country  Latitude  Longitude
0      AE   24.0000       54.0
1      AL   41.0000       20.0
2      AM   40.0000       45.0
3      AR  -34.0000      -64.0
4      AS  -14.3333     -170.0

In [51]:
df_cleaned.to_csv("Data/country_locations.csv")

### Load new csv into database

In [46]:
# new cell block
# different from one below because i adds a id_card col as primary key
# this allows the db file to work with sqlalchemy 
c.execute('''CREATE TABLE country_locations (
    Country TEXT,
    Latitude DECIMAL,
    Longitude DECIMAL
    );
''')

In [52]:
# load the data into a Pandas DataFrame
data = pd.read_csv(r"Data\country_locations.csv").drop(columns = "Unnamed: 0")
# write the data to a sqlite table
data.to_sql('country_locations', conn, if_exists='append', index = False)

72

In [53]:
data = c.execute('''SELECT * FROM country_locations''').fetchall()
data

[('AE', 24, 54),
 ('AL', 41, 20),
 ('AM', 40, 45),
 ('AR', -34, -64),
 ('AS', -14.3333, -170),
 ('AT', 47.3333, 13.3333),
 ('AU', -27, 133),
 ('BA', 44, 18),
 ('BE', 50.8333, 4),
 ('BO', -17, -65),
 ('BR', -10, -55),
 ('BS', 24.25, -76),
 ('CA', 60, -95),
 ('CF', 7, 21),
 ('CH', 47, 8),
 ('CL', -30, -71),
 ('CN', 35, 105),
 ('CO', 4, -72),
 ('CR', 10, -84),
 ('CZ', 49.75, 15.5),
 ('DE', 51, 9),
 ('DK', 56, 10),
 ('DZ', 28, 3),
 ('EE', 59, 26),
 ('EG', 27, 30),
 ('ES', 40, -4),
 ('FI', 64, 26),
 ('FR', 46, 2),
 ('GB', 54, -2),
 ('GH', 8, -2),
 ('GR', 39, 22),
 ('HK', 22.25, 114.1667),
 ('HN', 15, -86.5),
 ('HR', 45.1667, 15.5),
 ('HU', 47, 20),
 ('ID', -5, 120),
 ('IE', 53, -8),
 ('IL', 31.5, 34.75),
 ('IN', 20, 77),
 ('IQ', 33, 44),
 ('IR', 32, 53),
 ('IT', 42.8333, 12.8333),
 ('JP', 36, 138),
 ('KE', 1, 38),
 ('LT', 56, 24),
 ('LU', 49.75, 6.1667),
 ('LV', 57, 25),
 ('MA', 32, -5),
 ('MD', 47, 29),
 ('MK', 41.8333, 22),
 ('MT', 35.8333, 14.5833),
 ('MX', 23, -102),
 ('MY', 2.5, 112.5),
 ('NG', 10, 8),
 ('NL', 52.5, 5.75),
 ('NZ', -41, 174),
 ('PH', 13, 122),
 ('PK', 30, 70),
 ('PL', 52, 20),
 ('PR', 18.25, -66.5),
 ('PT', 39.5, -8),
 ('RO', 46, 25),
 ('RU', 60, 100),
 ('SE', 62, 15),
 ('SG', 1.3667, 103.8),
 ('SI', 46, 15),
 ('SK', 48.6667, 19.5),
 ('TH', 15, 100),
 ('TR', 39, 35),
 ('UA', 49, 32),
 ('US', 38, -97),
 ('VN', 16, 106)]

In [55]:
conn.close()